div(ng-controller="subcriteria" ng-init="init()")
  h1 Subcriterios

  .buttons-options
    button.btn.btn-secondary(role="button" ng-click="openModal()").
      Insertar

  table.table.table-bordered.table-responsive
    thead
      tr
        th Código
        th Subcriterio
        th.col-sm-1 Opciones
    tbody
      tr(ng-repeat="x in criteria")
        td {{ x.id }}.{{ x.subcriterion.id }}
        td {{ x.subcriterion.subcriterion }}
        td.text-center
          .btn-group.btn-group-sm(role="group")
            button.btn.btn-secondary(type="button"
              ng-click="openModal(x)"): i.fa.fa-pencil-square-o
            button.btn.btn-secondary(type="button" 
            ng-click = "delete(x.subcriterion._id)"): i.fa.fa-trash-o

  #subcriteriaModal.modal.fade(tabindex="-1" role="dialog")
    .modal-dialog(role="document")
      form.modal-content(ng-submit="submit()")
        .modal-header
          h5.modal-title Guardar
          button.close(type="button" data-dismiss="modal"): span &times;
        .modal-body
          .form-group(ng-class="v.criterion.class")
            label.form-control-label Criterio
            input.form-control(required autocomplete
            placeholder='Busqueda por ID o nombre'
            ng-model="t.criterion_id" ac-options="acOptions"
            ng-change='v.criterion.change(t.criterion_id)'
            ac-selected='v.criterion.selected')
            .form-control-feedback(ng-if='criterion') {{ criterion }}
          .form-group
            label Código
            input.form-control(placeholder="Código de subcriterio" required
            ng-model="subcriterion.id")
          .form-group
            label Subcriterio
            input.form-control(placeholder="Descripción del subcriterio" required
            ng-model="subcriterion.subcriterion")
        .modal-footer
          button.btn.btn-primary Guardar

