div(ng-controller="evaluators" ng-init="init()")
  h1 Evaluadores

  div
    .form-group(ng-class="v.evaluators.class")
      input.form-control(autocomplete
      placeholder='Busqueda por ID o nombre'
      ng-model="t.person1_id" ac-options="acOptionsPeople"
      ng-change='v.evaluators.change(t.person1_id)'
      ac-selected='v.evaluators.selected')
      .form-control-feedback(ng-if='person1') {{ person1 }}
    button.btn.btn-secondary(ng-click="submit()" type="button") Insertar

  br

  table.table.table-bordered.table-responsive
    thead
      tr
        th Persona
        th Responsables
        th.col-sm-1 Opciones
    tbody
      tr(ng-repeat="x in evaluators")
        td {{ x.person.nombres }} {{ x.person.apellidos }}
        td
          ul
            li.item-hidden(ng-repeat="y in x.responsables")
              span {{ y.person.nombres }} {{y.person.apellidos}}
              button.btn.btn-secondary.btn-sm(type="button"
                title="Eliminar item" ng-click="deleteResponsable(x._id, y._id)")
                i.fa.fa-trash-o
        td.text-center
          .btn-group.btn-group-sm(role='group')
            button.btn.btn-secondary(type="button" title="Añadir responsable"
              ng-click="addResponsable(x._id, x.person_id)"): i.fa.fa-plus
            // button.btn.btn-secondary(type="button"
            //   ng-click="delete(x._id)"): i.fa.fa-trash-o

  #responsableModal.modal.fade(tabindex="-1" role="dialog")
    .modal-dialog(role="document")
      div.modal-content
        .modal-header
          h5.modal-title Añadir persona a ser evaluada
          button.close(type="button" data-dismiss="modal"): span &times;

        .modal-body
          .form-group(ng-class="v.responsable.class")
            label.form-control-label Responsable
            input.form-control(type="text" placeholder="Insertar Responsable"
            autocomplete ng-model="t.person2_id" ac-options="acOptionsResponsable"
            ng-change='v.responsable.change(t.person2_id)'
            ac-selected='v.responsable.selected')
            .form-control-feedback(ng-if='person2') {{ person2 }}

        .modal-footer
          button.btn.btn-primary(ng-click="submitResponsable()" type="button") Añadir

