div(ng-controller='formulas' ng-init='init()')
  h1 Fórmulas

  .buttons-options
    button.btn.btn-secondary(role="button" ng-click='openModal()') Insertar

  table.table.table-bordered.table-responsive
    thead
      tr
        th ID
        th Fórmula
        th Método de Cálculo
        th.col-sm-1 Opciones
    tbody
      tr(ng-repeat="x in formulas")
        td {{ x.id }}
        td {{ x.formula }}
        td {{ x.metodocalc }}
        td.text-center
          .btn-group.btn-group-sm(role='group')
            button.btn.btn-secondary(type="button"
              ng-click="openModal(x)"): i.fa.fa-pencil-square-o
            button.btn.btn-secondary(type="button"
              ng-click="delete(x._id)"): i.fa.fa-trash-o

  #formulasModal.modal.fade(tabindex="-1" role="dialog")
    .modal-dialog(role="document")
      form.modal-content(ng-submit='submit()')
        .modal-header
          h5.modal-title {{ formula._id ? 'Editar' : 'Insertar'}}
          button.close(type="button" data-dismiss="modal"): span &times;

        .modal-body
          .form-group
            label ID
            input.form-control(placeholder="ID de fórmula" required
            ng-model='formula.id')
          .form-group
            label Fórmula
            input.form-control(placeholder="Nombre de la fórmula" required
            ng-model='formula.formula')
          .form-group
            label Método de Cálculo
            input.form-control(placeholder="Descripción del Cálculo" required
            ng-model='formula.metodocalc')

        .modal-footer
          button.btn.btn-primary Guardar

