div(ng-controller="indicators" ng-init="init()")
  h1 Indicadores

  .buttons-options
    button.btn.btn-secondary(role="button" ng-click="openModal()").
      Insertar

  table.table.table-bordered
    thead
      tr
        th Código
        th Indicador
        th Descripción
        th Estándar
        th.col-sm-1 Opciones
    tbody(ng-repeat="x in indicators")
      tr
        td {{x.criterion.id}}.{{x.subcriterion.id}}.{{x.id}}
        td {{ x.indicator }}
        td {{ x.description }}
        td {{ x.standard }}
        td.text-center
          .btn-group.btn-group-sm(role="group" label="Basic example")
            button.btn.btn-secondary(type="button"
              ng-click="openModal(x)"): i.fa.fa-pencil-square-o
            button.btn.btn-secondary(type="button" 
            ng-click = "delete(x._id)"): i.fa.fa-trash-o


  #indicatorsModal.modal.fade(tabindex="-1" role="dialog")
    .modal-dialog(role="document")
      form.modal-content(ng-submit="submit()")
        .modal-header
          h5.modal-title Guardar
          button.close(type="button" data-dismiss="modal"): span &times;
        .modal-body
          .form-group(ng-class="v.subcriterion.class")
            label.form-control-label Subcriterio
            input.form-control(required autocomplete
            placeholder='Busqueda por ID o nombre'
            ng-model="t.subcriterion_id" ac-options="acOptions"
            ng-change='v.subcriterion.change(t.subcriterion_id)'
            ac-selected='v.subcriterion.selected')
            .form-control-feedback(ng-if='subcriterion') {{ subcriterion }}
          .form-group
            label Código
            input.form-control(placeholder="Código de indicador" required
            ng-model="indicator.id")
          .form-group
            label Indicador
            input.form-control(placeholder="Nombre del indicador" required
            ng-model="indicator.indicator")
          .form-group
            label Descripción
            input.form-control(placeholder="Descripción del indicador" required
            ng-model="indicator.description")
          .form-group
            label Estándar
            input.form-control(placeholder="Descripción del estandar" required
            ng-model="indicator.standard")
          .form-group(ng-class="v.formulas.class")
            label.form-control-label Fórmula #[small Opcional]
            p.
              Si no se ingresa la fórmula entonces la calificación se
              la realiza mediante escalas.

            input.form-control(autocomplete
            placeholder="Descripción del fórmula"
            ng-model="t.formula_id" ac-options="acOptionsFormulas"
            ng-change='v.formulas.change(t.formula_id)'
            ac-selected='v.formulas.selected')
            .form-control-feedback(ng-if='formula') {{ formula }}
        .modal-footer
          button.btn.btn-secondary(type="button" data-dismiss="modal") Cerrar
          button.btn.btn-primary Guardar
