div(ng-controller='scales' ng-init='init()')
  h1 Escalas

  .buttons-options
    button.btn.btn-secondary(role="button" ng-click='openModal()') Insertar

  table.table.table-bordered.table-responsive
    thead
      tr
        th ID
        th Escala
        th Descripción
        th.col-sm-1 Opciones
    tbody
      tr(ng-repeat="x in scales")
        td {{ x.id }}
        td {{ x.escala }}
        td {{ x.descripcion }}
        td.text-center
          .btn-group.btn-group-sm(role='group')
            button.btn.btn-secondary(type="button"
              ng-click="openModal(x)"): i.fa.fa-pencil-square-o
            button.btn.btn-secondary(type="button"
              ng-click="delete(x._id)"): i.fa.fa-trash-o

  #scalesModal.modal.fade(tabindex="-1" role="dialog")
    .modal-dialog(role="document")
      form.modal-content(ng-submit='submit()')
        .modal-header
          h5.modal-title {{ scale._id ? 'Editar' : 'Insertar'}}
          button.close(type="button" data-dismiss="modal"): span &times;

        .modal-body
          .form-group
            label ID
            input.form-control(placeholder="ID de la escala" required
            ng-model='scale.id')
          .form-group
            label Escala
            input.form-control(placeholder="Nombre de la escala" required
            ng-model='scale.escala')
          .form-group
            label Descripción
            input.form-control(placeholder="Ingrese la descripción" required
            ng-model='scale.descripcion')

        .modal-footer
          button.btn.btn-primary Guardar

