div(ng-controller='alerts' ng-init='init()')
  h1 Alertas

  .buttons-options
    button.btn.btn-secondary(role="button" ng-click='openModal()') Insertar

  table.table.table-bordered.table-responsive
    thead
      tr
        th Tipo
        th Descripción
        th.col-sm-1 Opciones
    tbody
      tr(ng-repeat='x in alerts')
        td {{x.id}}
        td {{x.description}}
        td.text-center
          .btn-group.btn-group-sm(role="group")
            button.btn.btn-secondary(type="button"
              ng-click="openModal(x)"): i.fa.fa-pencil-square-o
            button.btn.btn-secondary(type="button"
              ng-click="delete(x._id)"): i.fa.fa-trash-o
               
  #alertModal.modal.fade(tabindex="-1" role="dialog")
    .modal-dialog(role="document")
      form.modal-content(ng-submit='submit()')
        .modal-header
          h5.modal-title {{ alert._id ? 'Editar' : 'Insertar'}}
          button.close(type="button" data-dismiss="modal"): span &times;

        .modal-body
          .form-group
            label Tipo de alerta
            input.form-control(placeholder="Tipo de alerta" required ng-model='alert.id')
          .form-group
            label Descripción de la alerta
            input.form-control(placeholder="Descripción de la alerta" required ng-model='alert.description')

        .modal-footer
          button.btn.btn-primary Guardar
