div(ng-controller="responsables" ng-init="init()")
  h1 Responsables

  div
    .form-group(ng-class="v.responsables.class")
      input.form-control(autocomplete
      placeholder='Busqueda por ID o nombre'
      ng-model="t.person_id" ac-options="acOptionsPeople"
      ng-change='v.responsables.change(t.person_id)'
      ac-selected='v.responsables.selected')
      .form-control-feedback(ng-if='person') {{ person }}
    button.btn.btn-secondary(ng-click="submit()" type="button") Insertar

  br

  table.table.table-bordered.table-responsive
    thead
      tr
        th Persona
        th Indicadores
        th.col-sm-1 Opciones
    tbody
      tr(ng-repeat="x in responsables")
        td {{ x.person.cedula }} · {{ x.person.nombres }} {{ x.person.apellidos }}
        td
          ul
            li.item-hidden(ng-repeat="y in x.indicadores")
              span {{y.indicator}}
              button.btn.btn-secondary.btn-sm(type="button"
                title="Eliminar item" ng-click="deleteIndicator(x._id, y._id)")
                i.fa.fa-trash-o
        td.text-center
          .btn-group.btn-group-sm(role='group')
            button.btn.btn-secondary(type="button" title="Añadir indicador"
              ng-click="addIndicator(x._id)"): i.fa.fa-plus
            button.btn.btn-secondary(type="button"
              ng-click="delete(x._id)"): i.fa.fa-trash-o

  #indicadorModal.modal.fade(tabindex="-1" role="dialog")
    .modal-dialog(role="document")
      div.modal-content
        .modal-header
          h5.modal-title Añadir indicador
          button.close(type="button" data-dismiss="modal"): span &times;

        .modal-body
          .form-group(ng-class="v.indicator.class")
            label.form-control-label Indicador
            input.form-control(type="text" placeholder="Insertar indicador"
            autocomplete ng-model="t.indicator_id" ac-options="acOptionsIndicator"
            ng-change='v.indicator.change(t.indicator_id)'
            ac-selected='v.indicator.selected')
            .form-control-feedback(ng-if='indicator') {{ indicator }}

        .modal-footer
          button.btn.btn-primary(ng-click="submitIndicador()" type="button") Añadir

