extends layout

block vars
  - configuration = 'active'
  - mainroute = '/admin/configuration'

block title
  title Configuración

block content
  .container(ng-app='configuration')

    .row
      .col-sm-3
        nav.menu
          h3.menu-heading Opciones
          a.menu-item(href=`${mainroute}?section=alerts` class=alerts) Alertas
          a.menu-item(href=`${mainroute}?section=charges` class=charges) Cargos
          a.menu-item(href=`${mainroute}?section=departments` class=departments) Departamentos
          a.menu-item(href=`${mainroute}?section=scales` class=scales) Escalas
          a.menu-item(href=`${mainroute}?section=formulas` class=formulas) Fórmulas
          a.menu-item(href=`${mainroute}?section=people` class=people) Personas
          a.menu-item(href=`${mainroute}?section=responsables` class=responsables) Responsables
          a.menu-item(href=`${mainroute}?section=evaluators` class=evaluators) Evaluadores
          a.menu-item(href=`${mainroute}?section=criteria` class=criteria) Criterios
          a.menu-item(href=`${mainroute}?section=subcriteria` class=subcriteria) Subcriterios
          a.menu-item(href=`${mainroute}?section=indicators` class=indicators) Indicadores
      .col-sm-9

        if alerts
          include configuration-alerts
        else if charges
          include configuration-charges
        else if criteria
          include configuration-criteria
        else if subcriteria
          include configuration-subcriteria
        else if indicators
          include configuration-indicators
        else if departments
          include configuration-departments
        else if people
          include configuration-people
        else if responsables
          include configuration-responsables
        else if evaluators
          include configuration-evaluators
        else if formulas
          include configuration-formulas
        else if scales
          include configuration-scales

block scripts
  script(src='/public/handlebars/dist/handlebars.min.js')
  script(src='/public/typeahead.js/dist/typeahead.bundle.js')
  script(src='/public/javascripts/autocomplete.js')

  script(src='/public/javascripts/admin/configuration.js')
  script(src='/public/javascripts/admin/configuration-criteria.js')
  script(src='/public/javascripts/admin/configuration-charges.js')
  script(src='/public/javascripts/admin/configuration-departments.js')
  script(src='/public/javascripts/admin/configuration-alerts.js')
  script(src='/public/javascripts/admin/configuration-people.js')
  script(src='/public/javascripts/admin/configuration-formulas.js')
  script(src='/public/javascripts/admin/configuration-scales.js')
