div(ng-controller="criteria" ng-init="init()")
  h1 Criterios

  .buttons-options
    button.btn.btn-secondary(role="button" ng-click="openModal()") Insertar

  table.table.table-bordered.table-responsive
    thead
      tr
        th Código
        th Criterio
        th.col-sm-1 Opciones
    tbody
      tr(ng-repeat="x in criteria")
        td {{ x.id }}
        td {{ x.criterion }}
        td.text-center
          .btn-group.btn-group-sm(role="group")
            button.btn.btn-secondary(type="button"
              ng-click="openModal(x)"): i.fa.fa-pencil-square-o
            button.btn.btn-secondary(type="button" 
            ng-click = "delete(x._id)"): i.fa.fa-trash-o

  #criteriaModal.modal.fade(tabindex="-1" role="dialog")
    .modal-dialog(role="document")
      form.modal-content(ng-submit="submit()")
        .modal-header
          h5.modal-title {{ criterion._id ? "Editar" : "Insertar" }}
          button.close(type="button" data-dismiss="modal"): span &times;
        .modal-body
          .form-group
            label ID
            input.form-control(placeholder="ID del Criterio" required
            ng-model="criterion.id")
          .form-group
            label Criterio
            input.form-control(placeholder="Descripción del Criterio" required
            ng-model="criterion.criterion")
        .modal-footer: button.btn.btn-primary Guardar
