div(ng-controller="people" ng-init="init()")
  h1 Personas

  .buttons-options
    button.btn.btn-secondary(role="button" ng-click='openModal()') Insertar

  table.table.table-bordered.table-responsive
    thead
      tr
        th Cédula
        th Apellidos
        th Nombres
        th Correo
        th Extensión
        th.col-sm-1 Opciones
    tbody
      tr(ng-repeat="x in people")
        td {{ x.cedula }}
        td {{ x.apellidos }}
        td {{ x.nombres }}
        td {{ x.correo }}
        td {{ x.extension }}
        td.text-center
          .btn-group.btn-group-sm(role='group')
            button.btn.btn-secondary(type="button"
              ng-click="openModal(x)"): i.fa.fa-pencil-square-o
            button.btn.btn-secondary(type="button"
              ng-click="delete(x._id)"): i.fa.fa-trash-o

  #personModal.modal.fade(tabindex="-1" role="dialog")
    .modal-dialog(role="document")
      form.modal-content(ng-submit='submit()')
        .modal-header
          h5.modal-title {{ person._id ? 'Editar' : 'Insertar'}}
          button.close(type="button" data-dismiss="modal"): span &times;

        .modal-body
          .form-group
            label Cédula
            input.form-control(placeholder="Cédula de la persona" required
            ng-model='person.cedula')
          .form-group
            label Apellidos
            input.form-control(placeholder="Apellidos de la persona" required
            ng-model='person.apellidos')
          .form-group
            label Nombres
            input.form-control(placeholder="Nombres de la persona" required
            ng-model='person.nombres')
          .form-group
            label Correo
            input.form-control(placeholder="Ingrese el correo" required
            ng-model='person.correo')
          .form-group
            label Extensión
            input.form-control(placeholder="Ingrese la extension"
            ng-model='person.extension')

        .modal-footer
          button.btn.btn-primary Guardar

