div(ng-controller="departments" ng-init="init()")
  h1 Departamento

  .buttons-options
    button.btn.btn-secondary(role="button" ng-click="openModal()") Insertar

  table.table.table-bordered.table-responsive
    thead
      tr
        th ID
        th Departamento
        th.col-sm-1 Opciones
    tbody
      tr(ng-repeat="x in departments")
        td {{ x.id }}
        td {{ x.department }}
        td.text-center
          .btn-group.btn-group-sm(role="group")
            button.btn.btn-secondary(type="button"
              ng-click="openModal(x)"): i.fa.fa-pencil-square-o
            button.btn.btn-secondary(type="button"
              ng-click="delete(x._id)"): i.fa.fa-trash-o

  #departmentModal.modal.fade(tabindex="-1" role="dialog")
    .modal-dialog(role="document")
      form.modal-content(ng-submit="submit()")
        .modal-header
          h5.modal-title {{ department._id ? "Editar" : "Insertar"}}
          button.close(type="button" data-dismiss="modal"): span &times;

        .modal-body
          .form-group
            label ID
            input.form-control(placeholder="ID del departamento" required
            ng-model="department.id")
          .form-group
            label Departamento
            input.form-control(placeholder="Nombre del departamento" required
            ng-model="department.department")

        .modal-footer: button.btn.btn-primary Guardar
