extends layout

block title
  title Pantalla Principal

block content
  .container(ng-app="main" ng-controller="main")
    h1 Evidencias

    .row
      .col-sm-7
        table.table.table-bordered
          thead
            tr
              th Alertas
              th Cantidad
          tbody
            tr(ng-repeat="x in evidences")
              td {{ x._id ? x.indicadores[0].alerts.id : 'Sin calificar' }}
              td {{ x.count }}
      .col-sm-5
        canvas#chartEvidence(width="10" height="10")


block scripts
  script(src='/public/chart.js/dist/Chart.min.js')
  script(src='/public/javascripts/admin/main.js')
