doctype html
html
  head
    include /head
    title Iniciar Sesión

  body.body-authentication
    .container(ng-app='authentication' ng-controller='login')

      .info
        h1 Seguimiento Académico
        p Administrador

      .form-container
        form(ng-submit='submit()')
          .form-group
            .input-group
              .input-group-addon: li.fa.fa-user
              input.form-control(type='text' placeholder='Usuario'
              ng-model='user.username' required)

          .form-group
            .input-group
              .input-group-addon: li.fa.fa-lock
              input.form-control(type='password' placeholder='Contraseña'
              ng-model='user.password' required)

          button.btn.btn-primary.btn-block Iniciar Sesión

    script(src='/public/javascripts/admin/authentication.js')
