//$brand-primary: #00703C;

@import "./node_modules/bootstrap/scss/bootstrap";


body {
  font-family: 'Roboto';
  // background: #f8f8f8;
}

// h1, h2, h3, h4, h5 {
//   font-weight: 300;
// }

button, input, optgroup, select, textarea {
  font-family: 'Roboto'; }

.body-authentication {
  .info {
    margin: 50px auto;
    text-align: center;

    h1 {
      margin: 0 0 15px;
      padding: 0;
      font-size: 36px;
      font-weight: 300;}

    p {
      color: $gray;
    }
  }

  .form-container {
    border-radius: 6px;
    position: relative;
    z-index: 1;
    background: white;
    max-width: 350px;
    margin: 0 auto 20px;
    padding: 30px;
    border: 1px solid darken(#F5F5F5, 5%);

    .message {
      margin: 15px 0 0;
      color: darken(white, 30%);
      font-size: 12px;
      text-align: center;
      a {
        text-decoration: none;}
    }

    .separation {
      width:100%;
      text-align:center;
      border-bottom: 1px solid darken(white, 30%);
      line-height:0.1em;
      margin:30px 0;
      span { background:#fff; padding:0 10px; }
    }

  }

}

// navigator

#page {
  box-sizing: border-box;
  display: flex;
}

#na {
  position: fixed;
  display: flex;
  height: 100%;
}

#navigator {
  color: white;
  padding: 24px;
  background: white;

  width: 100%;
  height: 100%;

  .title {
    font-size: 30px;
    font-weight: 300;
    text-align: center;
  }

  // options
  nav {
    a {
      color: white;
      padding: 8px 20px;
      display: block;
      border-radius: 3px;

      i {
        padding-right: 10px;
      }

      &.active {
        background-color: darken($blue, 4%);
      }

      &:hover {
        background-color: darken($blue, 8%);
        text-decoration: none;
      }

      &:focus {
        text-decoration: none;
      }
    }

  }
}

#content {
  position: relative;
  padding: 30px;
}

span {
  &.separation {
    margin: 0px 10px
  }
}

p {
  &.info {
    font-size: 12px;
    color: $gray;
  }
}

.pads {

    .item {
      float:left;
      position: relative;
      width: 30%;
      height: 150px;
      padding: 20px;
      margin-right: 1.6%;
      margin-bottom: 1.6%;
      background-color: $white;
      border: 1px solid darken(#F5F5F5, 5%);
      overflow:hidden;
     
      .btn-group {
        position: absolute;
        right: 10px;
        bottom: 10px;
        display: none;
      }

      &:hover {
        background: darken($white, 5%);
        .btn-group {
          display: block;
        }
      }
    }
}

// navbar

.navbar .navbar-nav .nav-item {
  .nav-link {
    // color: rgba(255,255,255,0.6);
  }

  &.active {
    

  }
}


.navbar {
  .nav-item {
    color: red;
  }
  // //.navbar-inverse .navbar-brand {
//   font-weight: 300;
}

// menu

.menu {
  margin-bottom: 15px;
  list-style: none;
  background-color: #fff;
  border: 1px solid #d1d5da;
  border-radius: 3px;
}

.menu-heading {
  display: block;
  padding: 8px 10px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1rem;//13px;
  line-height: 1.5;
  color: #586069;
  background-color: #f3f5f8;
  border-bottom: 1px solid #e1e4e8;
}

.menu-item {
  position: relative;
  display: block;
  padding: 8px 10px;
  border-bottom: 1px solid #e1e4e8;
}

.menu-item.active {
  font-weight: 600;
  color: #24292e;
  cursor: default;
  background-color: #fff;
}

.menu-item.active::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 2px;
  content: "";
  background-color: $brand-primary;
}

.menu-item:hover {
  text-decoration: none;
  background-color: #f6f8fa;
}

.buttons-options {
  text-align: right;
  padding: 0px 0 20px 0;
}

table .btn-group .btn-secondary {
  border-color: transparent;
}

.table-responsive {
  display: table;

  @media screen and (max-width: 768px) {
    display: block;
  }

}

.center {
  margin: 0 auto;
}

// #criteria, #subcriteria {
//   position: relative;

//   button {
//     position: absolute;
//     top: 0px;
//     right: 0px;
//     display: none;
//   }

//   &:hover button {
//     display: block;
//   }
// }

.btn-criteria {
  margin-bottom: .75rem;
  float: right;
}

footer {
  background: rgba(30,30,30,0.8);
  position: fixed;
  bottom: 0px;
  width: 100%;
  color: white;
  padding: 6px 0;

  p {
    margin-bottom: 0;
    font-size: 12px;
  }
}

.container {
  margin-bottom: 50px;
}

//////////////////////////////////////////////////////////////// AUTOCOMPLETE

.twitter-typeahead {
  width: 100%;
}

.typeahead,
.tt-query,
.tt-hint {
}

.tt-hint {
  color: #999
}

.tt-menu {
  width: 100%;
  margin: 10px 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  max-height: 150px;
  overflow-y: auto;
}

.tt-suggestion {
  padding: 3px 20px;
  line-height: 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.tt-suggestion.tt-cursor,
.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: $brand-primary;
}

.input-group .form-control {
    width: 100%;
}

////////////////////////////////////////////////////////////////

table {
  ol, ul, dl {
    margin-bottom: 0;
  }
}

.evaluation-alert {
  width: 12px;
  height: 12px;
  border-radius: 50px;
  display: inline-block;
  &.red { background: $red; }
  &.yellow { background: $yellow; }
  &.green { background: $green; }
}

.item-hidden {
  span {
    margin-right: 10px;
  }

  button {
    visibility: hidden;
  }
  
  &:hover {
    button {
      visibility: visible;
    }
  }
}
