extends layout

block title
  title Evaluador · Pantalla Principal

block content
  .container(ng-app="evaluator" ng-controller="calificacion"
  ng-init=`init("${responsable_id}")`)
    h1 {{responsable.person.nombres}} {{responsable.person.apellidos}}
    p.
      Porfavor revise las evidencias listadas a continuación y
      califique segun los parámetros establecidos.

    table.table.table-bordered
      thead
        tr
          th Indicador
          th Evidencia Subidas
          th Calificación
          th Opciones
      tbody
        tr(ng-repeat="x in responsable.indicadores")
          td {{ x.id }} {{ x.indicator }}
          td
            ul
              li.item-hidden(ng-repeat="y in x.evidencias")
                span
                  a(ng-href="/rest/evidence/{{y._id}}") {{ y.name }}
                  small {{ y.date | date }}
                button.btn.btn-secondary.btn-sm(type="button"
                  title="Calificar Evidencia" data-toggle="modal"
                  data-target="#calificarEvidencia"
                  ng-click="abrirModalEvidencia(y)") Calificar
                p(ng-if="y.calificacion")
                  b: span Calificación
                  select(ng-model="y.calificacion.alert_id")
                    option(value="{{z._id}}" ng-repeat="z in alerts").
                      {{ z.id }}
                  span &nbsp; · {{ y.calificacion.descripcion }}
          td
            .form-group(ng-if="!x.formula_id")
              select.form-control(required disabled
                ng-model="x.calificacion.scale_id")
                option(value="{{a._id}}" ng-repeat="a in scales"
                title="{{a.description}}") {{ a.escala }}
            .form-group(ng-if="x.formula_id")
              p {{ x.calificacion.value }}
          td.col-sm-1.text-center
            .btn-group.btn-group-sm(role='group')
              button.btn.btn-secondary(type="button" title="Calificar"
              data-toggle="modal" data-target="#calificarIndicador"
              ng-click="abrirModalIndicador(x)")
                i.fa.fa-check


    #calificarEvidencia.modal.fade(tabindex="-1" role="dialog")
      .modal-dialog(role="document")
        form.modal-content(ng-submit='calificarEvidencia()')
          .modal-header
            h5.modal-title Calificar Evidencia
            button.close(type="button" data-dismiss="modal"): span &times;

          .modal-body
            .form-group
              label Alerta
              select.form-control(ng-model="evidencia.calificacion.alert_id"
                required)
                option(value="{{z._id}}" ng-repeat="z in alerts"
                title="{{z.description}}") {{ z.id }}
            .form-group
              label Descripción
              input.form-control(placeholder="Ingrese una descripción"
              ng-model="evidencia.calificacion.descripcion" required)

          .modal-footer
            button.btn.btn-primary Guardar

    #calificarIndicador.modal.fade(tabindex="-1" role="dialog")
      .modal-dialog(role="document")
        form.modal-content(ng-submit='calificarIndicador()')
          .modal-header
            h5.modal-title Calificar Indicador
            button.close(type="button" data-dismiss="modal"): span &times;

          .modal-body
            .form-group(ng-if="!indicador.formula_id")
              label Escala
              select.form-control(required
                ng-model="indicador.calificacion.scale_id")
                option(value="{{x._id}}" ng-repeat="x in scales"
                title="{{x.description}}") {{ x.escala }}
            .form-group(ng-if="indicador.formula_id")
              label Calificación
              input.form-control(required
              placeholder="Ingrese la calificación"
              ng-model="indicador.calificacion.value")

          .modal-footer
            button.btn.btn-primary Guardar

    script(src='/public/javascripts/evaluators/main.js')
