extends layout

block title
  title Evaluador · Pantalla Principal

block content
  .container(ng-app="evaluator" ng-controller="main" ng-init=`init("${user.evaluator_id}")`)
    h1 Evaluador
    p Usted debe calificar a las siguientes personas responsables:

    table.table.table-bordered
      thead
        tr
          th Cédula
          th Nombre
          th Número de Indicadores
          th Opciones
      tbody
        tr(ng-repeat="x in responsables")
          td {{ x.person.cedula }}
          td {{ x.person.nombres }} {{ x.person.apellidos }}
          td {{ x.indicators.length }}
          td.col-sm-1.text-center
            .btn-group.btn-group-sm(role='group')
              a.btn.btn-secondary(type="button" title="Calificar"
              ng-href="/evaluators/calificacion/{{x._id}}")
                i.fa.fa-check

    #uploadModal.modal.fade(tabindex="-1" role="dialog")
      .modal-dialog(role="document")
        form.modal-content(ng-submit='upload()')
          .modal-header
            h5.modal-title Subir archivo
            button.close(type="button" data-dismiss="modal"): span &times;

          .modal-body
            .form-group
              label Buscar evidencia
              input.form-control(type="file" id="archivo" name="archivo" required)

          .modal-footer
            button.btn.btn-primary(ng-disabled="disableButton") Guardar

    script(src='/public/javascripts/evaluators/main.js')
