doctype html
html
  head

    include /head

    block vars

    block title
      title Esto no es un Easter Egg

  body
    nav.navbar.sticky-top.navbar-toggleable-md.navbar-inverse.bg-primary

      button.navbar-toggler.navbar-toggler-right(type="button"
        data-toggle="collapse"  data-target="#navbarSupportedContent")
        span.navbar-toggler-icon

      a.navbar-brand(href="/evaluators") Seguimiento Académico

      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          // li.nav-item(class=configuration)
          //   a.nav-link(href="/admin/configuration") Configuración

        ul.navbar-nav
          li.nav-item.dropdown
            a.nav-link.dropdown-toggle(href="#" data-toggle="dropdown").
              Evaluador: #{user.name} #{user.surname}
            div.dropdown-menu.dropdown-menu-right
              a.dropdown-item(href="/evaluators/logout") Cerrar Sesión

    br
    block content

    block scripts
      
    include /footer
