extends layout

block title
  title Responsable · Pantalla Principal

block content
  .container(ng-app="responsable" ng-controller="main"
  ng-init=`init("${user.responsable_id}")`)
    h1 Responsable

    table.table.table-bordered
      thead
        tr
          th Indicador
          th Evidencia
          th Calificación
          th Opciones
      tbody
        tr(ng-repeat="x in indicadores")
          td {{ x.id }} {{ x.indicator }}
          td
            ul
              li.item-hidden(ng-repeat="y in x.evidencias")
                span
                  a(ng-href="/rest/evidence/{{y._id}}") {{ y.name}}
                  small {{ y.date | date }}
                button.btn.btn-secondary.btn-sm(type="button"
                  title="Eliminar evidencia"
                  ng-click="deleteEvidence(y._id)")
                  i.fa.fa-trash-o
                p(ng-if="y.calificacion")
                  b: span Calificación
                  select(ng-model="y.calificacion.alert_id")
                    option(value="{{z._id}}" ng-repeat="z in alerts").
                      {{ z.id }}
                  span &nbsp; · {{ y.calificacion.descripcion }}
          td
            .form-group(ng-if="!x.formula_id")
              select.form-control(required disabled
                ng-model="x.calificacion.scale_id")
                option(value="{{a._id}}" ng-repeat="a in scales"
                title="{{a.description}}") {{ a.escala }}
            .form-group(ng-if="x.formula_id")
              p {{ x.calificacion.value }}
          td.col-sm-1.text-center
            .btn-group.btn-group-sm(role='group' ng-if="!x.calificacion")
              button.btn.btn-secondary(type="button" title="Subir evidencia"
              data-toggle="modal" data-target="#uploadModal"
              ng-click="openUploadModal(x._id)"): i.fa.fa-upload

    #uploadModal.modal.fade(tabindex="-1" role="dialog")
      .modal-dialog(role="document")
        form.modal-content(ng-submit='upload()')
          .modal-header
            h5.modal-title Subir archivo
            button.close(type="button" data-dismiss="modal"): span &times;

          .modal-body
            .form-group
              label Buscar evidencia
              input.form-control(type="file" id="archivo" name="archivo" required)

          .modal-footer
            button.btn.btn-primary(ng-disabled="disableButton") Guardar

    script(src='/public/javascripts/responsable/main.js')
